@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@model OnlineTicariOtomasyon.Models.Classes.Category

@{
    ViewData["Title"] = "CategoryEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>CategoryEdit</h1>
 

@*  @Html.BeginForm("CategoryEdit","Category",FormMethod.Post))
{
    <div class="form-group">    

        @Html.LabelFor(x=>x.Name)
        @Html.TextBoxFor(x=>x.Name,new{@class ="form-control"})
        @Html.HiddenFor(x=>x.CategoryId)

        <button class="btn btn-primary mt-2">Güncelle</button>
    </div>
} *@

 
 <form  method="post">
    <div class="form-group">

        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.HiddenFor(x => x.CategoryId)

        
    </div>
    <button class="btn btn-primary mt-2">Güncelle</button>
 </form>