@model OnlineTicariOtomasyon.Models.Classes.Product
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Yeni Ürün Ekleme Sayfası</h2>

<form class="form-group" method="post">
    @Html.LabelFor(x => x.ProductName)
    @Html.TextBoxFor(x=>x.ProductName,new{@class="form-control"})
    <br />
    @Html.LabelFor(x => x.Brand)
    @Html.TextBoxFor(x => x.Brand, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Stock)
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PurchasePrice)
    @Html.TextBoxFor(x => x.PurchasePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.SalePrice)
    @Html.TextBoxFor(x => x.SalePrice, new { @class = "form-control" })
    <br />
   
    @Html.LabelFor(x => x.Category.CategoryId)
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
     
    @Html.LabelFor(x => x.Product_Img)
    @Html.TextBoxFor(x => x.Product_Img, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status)
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })

    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>