 @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using OnlineTicariOtomasyon.Models.Classes
@model List<Current>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}

@* <h2>Mvc Online Ticari Cari Bilgileri Paneli</h2> 


<head>
    
    <meta charset="UTF-8">
    <title>Bootstrap 4 Responsive Datatable and Export to PDF, CSV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css"
</head>
<body>
  
@using (@Html.BeginForm("Index", "CurrentPanel", FormMethod.Post))

{


    <table class="table table-borderland mr-4">
        <tr>

            <td>
                <label>Mail Adresi:@ViewBag.user</label>
            </td>
        </tr>
        <tr>
            
                <td>
                    <label>Ad Soyad:</label>

                <input type="hidden" asp-for="CurrentId" value="" /><br />
                <label>Current Name</label>
                <input type="text" asp-for="CurrentName" class="form-control" />
                
            </td>
          
        </tr>
        <tr>

          
            <td>
                <label>Cari Soyadı</label>
                @Html.TextBoxFor(x=>x.CurrentLastName,new  {@class="form-control"})
            </td>
        </tr>
        <tr>

          
            <td>
                <label>Şehir</label>
              <input type="text" asp-for="CurrentCity" class="form-control" />
            </td>
        </tr>
        <tr>

            
            <td>
                <label>Cari Şifre</label>
                <input type="password" asp-for="CurrentPassword" class="form-control" />
            </td>
        </tr>
     
    </table>
  <button class="btn btn-warning"><a href="/Login/Index">Güncelle</a></button>

}
</body>
    </html> *@





















<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | User Profile</title>

    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->

        <section class="content-header">

            <div class="container-fluid">

                <div class="row mb-2">

                    <div class="col-sm-6">

                        <h1>Profile</h1>

                    </div>



                </div>

            </div><!-- /.container-fluid -->

        </section>

        <!-- Main content -->

        <section class="content">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-3">

                        <!-- Profile Image -->

                        <div class="card card-primary card-outline">

                            <div class="card-body box-profile">

                                <div class="text-center">
                                    @foreach (var item in Model)
                                    {
                                        
                                    
                                    <img class="profile-user-img img-fluid img-circle"
                                             src="/css/current/img/@item.CurrentImage"
                                         alt="User profile picture">
                                    }
                                </div>

                                 
                                    @foreach (var item in Model)
                                {
                                    
                               
                                <h3 class="profile-username text-center" >@item.CurrentName @item.CurrentLastName</h3>

                                <p class="text-muted text-center">@item.CurrentMail</p>
                                }
                                <ul class="list-group list-group-unbordered mb-3">

                                    <li class="list-group-item">

                                        <b>Topla Şipariş:</b> <a class="float-right">@ViewBag.totalsales</a>

                                    </li>

                                    <li class="list-group-item">

                                        <b>Toplam Harcanan Mİktar</b> <a class="float-right">@ViewBag.totalbuy₺</a>

                                    </li>

                                    <li class="list-group-item">

                                        <b>Toplam Alınan Ürün Adeti</b> <a class="float-right">@ViewBag.totalproduct</a>

                                    </li>

                                </ul>

                              

                            </div>

                            <!-- /.card-body -->

                        </div>

                        <!-- /.card -->
                        <!-- About Me Box -->

                        <div class="card card-primary">

                            <div class="card-header">

                                <h3 class="card-title">About Me</h3>

                            </div>

                            <!-- /.card-header -->
                            @foreach (var item in Model)
                            {
                                
                            
                            <div class="card-body">

                                <strong><i class="fas fa-book mr-1"></i> Education</strong>

                                <p class="text-muted">

                                    B.S. in Computer Science from the University of Tennessee at Knoxville

                                </p>

                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                                <p class="text-muted">@item.CurrentCity</p>

                                <hr>

                                <strong><i class="fas fa-pencil-alt mr-1"></i> Telefon</strong>

                                <p class="text-muted">

                                   <span>(532) (6743) (663)</span>

                                 

                                </p>

                                 

                            </div>
                            }
                            <!-- /.card-body -->

                        </div>

                        <!-- /.card -->

                    </div>

                    <!-- /.col -->

                    <div class="col-md-9">

                        <div class="card">

                            <div class="card-header p-2">

                                <ul class="nav nav-pills">

                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Mesajlar</a></li>

                                    

                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Profil</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Profil Güncelle</a></li>
                                </ul>

                            </div><!-- /.card-header -->

                            <div class="card-body">

                                <div class="tab-content">

                                    <div class="active tab-pane" id="activity">

                                        <!-- Post -->
                                        @{
                                            var items = ViewBag.message as List<Message>;
                                        }

                                        @foreach (var item in items)
                                        {


                                            <div class="post">


                                                <div class="user-block">

                                                    <img class="img-circle img-bordered-sm" src="~/AdminLTE-3.0.4/dist/img/message.png" alt="user image">

                                                    <span class="username">

                                                        <a href="#">@item.Sender</a>

                                                        <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>

                                                    </span>

                                                    <span class="description">Konu:@item.Subject - @item.Date.ToShortDateString()</span>

                                                </div>

                                                <!-- /.user-block -->

                                                <p>

                                                    @item.Content

                                                </p>
 

                                            </div>
                                        }
                                    </div>

                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="timeline">
     
                                            @Html.Partial("EditProfile")

                                    </div>

                                    <!-- /.tab-pane -->

                                    <div class="tab-pane" id="settings">

                                        @Html.Partial("Profile")

                                    </div>

                                    <!-- /.tab-pane -->

                                </div>

                                <!-- /.tab-content -->

                            </div><!-- /.card-body -->

                        </div>

                        <!-- /.nav-tabs-custom -->

                    </div>

                    <!-- /.col -->

                </div>

                <!-- /.row -->

            </div><!-- /.container-fluid -->

        </section>

        <!-- /.content -->

    </div>

    <!-- /.content-wrapper -->

    <footer class="main-footer">

        <div class="float-right d-none d-sm-block">

            <b>Version</b> 3.0.4

        </div>

        <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights

        reserved.

    </footer>

    <!-- Control Sidebar -->

    <aside class="control-sidebar control-sidebar-dark">

        <!-- Control sidebar content goes here -->

    </aside>

    <!-- /.control-sidebar -->
    <!-- ./wrapper -->
    <!-- jQuery -->

    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->

    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->

    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>

    <!-- AdminLTE for demo purposes -->

    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>

</body>

</html>