@using OnlineTicariOtomasyon.Models.Classes
@model List<SalesActivity>
@{
    ViewData["Title"] = "DepartmentPersonelSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Departman Personel Satış</h1>

<div>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Personel Adı: @ViewBag.p</li>
    </ol>
</div>

<table class="table table-secondary table-bordered" style="padding:0;">
    <tr>
        <th>Satış Id</th>
        <th>Personel Adı</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        
   
    <tr>
        <td>@item.SalesId</td>
        <td>@item.Personel.PersonelName</td>
        <td>@item.Product.ProductName</td>
       <td>@item.Current.CurrentName  @item.Current.CurrentLastName</td>
        <td>@item.Price</td>
        <td>@item.Quantity</td>
        <td>@item.TotalAmount</td>
        <td>@item.Date</td>
            <td class=><a href="" class="btn btn-default col-12" style="background-color:dodgerblue; padding=;%100px">Yazdır</a></td>
    </tr>
    }
</table>